services:
    FormBuilderBundle\Form\Type\Recaptcha3Type:
        public: false
        arguments:
            - '@FormBuilderBundle\Configuration\Configuration'
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\FriendlyCaptchaType:
        public: false
        arguments:
            - '@request_stack'
            - '@FormBuilderBundle\Configuration\Configuration'
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\CloudflareTurnstileType:
        public: false
        arguments:
            - '@request_stack'
            - '@FormBuilderBundle\Configuration\Configuration'
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\DynamicFormType:
        public: false
        arguments:
            - '@security.csrf.token_manager'
            - '@FormBuilderBundle\Configuration\Configuration'
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\DynamicMultiFileType:
        public: false
        arguments:
            - '@Symfony\Component\Form\FormFactoryInterface'
            - '@FormBuilderBundle\Configuration\Configuration'
            - '@event_dispatcher'
            - '@FormBuilderBundle\Registry\DynamicMultiFileAdapterRegistry'
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\HoneypotType:
        public: false
        arguments:
            - '@FormBuilderBundle\Configuration\Configuration'
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\HtmlTagType:
        public: false
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\InstructionsType:
        public: false
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\SnippetType:
        autowire: true
        public: false
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\DynamicChoiceType:
        public: false
        arguments:
            - '@FormBuilderBundle\Registry\ChoiceBuilderRegistry'
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\LayerType:
        public: false
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\ContainerCollectionType:
        autowire: true
        public: false
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\Container\ContainerType:
        autowire: true
        public: false
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\Container\FieldSetContainerType:
        autowire: true
        public: false
        tags:
            - { name: form.type }

    FormBuilderBundle\Form\Type\Container\RepeaterContainerType:
        autowire: true
        public: false
        calls:
            - [setTranslator, ['@translator']]
        tags:
            - { name: form.type }


    #
    # Double-Opt-In

    FormBuilderBundle\Form\Type\DoubleOptIn\DoubleOptInType:
        public: false
        tags:
            - { name: form.type }
