services:

    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    # form builder
    FormBuilderBundle\Builder\FrontendFormBuilder: ~

    # backend form builder
    FormBuilderBundle\Builder\ExtJsFormBuilder: ~

    # form values output applier
    FormBuilderBundle\Form\FormValuesOutputApplier: ~
    FormBuilderBundle\Form\FormValuesOutputApplierInterface: '@FormBuilderBundle\Form\FormValuesOutputApplier'

    # form values input applier
    FormBuilderBundle\Form\FormValuesInputApplier: ~
    FormBuilderBundle\Form\FormValuesInputApplierInterface: '@FormBuilderBundle\Form\FormValuesInputApplier'

    # error serializer
    FormBuilderBundle\Form\FormErrorsSerializer: ~
    FormBuilderBundle\Form\FormErrorsSerializerInterface: '@FormBuilderBundle\Form\FormErrorsSerializer'