services:

    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    FormBuilderBundle\Validator\Constraints\DynamicMultiFileNotBlankValidator:
        tags:
            - { name: validator.constraint_validator }

    FormBuilderBundle\Validator\Constraints\Recaptcha3Validator:
        public: false
        tags:
            - { name: validator.constraint_validator }

    FormBuilderBundle\Validator\Constraints\CloudflareTurnstileValidator:
        public: false
        tags:
            - { name: validator.constraint_validator }

    FormBuilderBundle\Validator\Constraints\FriendlyCaptchaValidator:
        public: false
        tags:
            - { name: validator.constraint_validator }

    FormBuilderBundle\Validator\Constraints\EmailCheckerValidator:
        public: false
        tags:
            - { name: validator.constraint_validator }

    #
    # Email Checker

    FormBuilderBundle\Validator\EmailChecker\EmailCheckerProcessor:
        arguments:
            $emailChecker: !tagged_iterator form_builder.validator.email_checker
