{% block form_builder_snippet_type_label %}{% endblock %}

{% block form_builder_snippet_type_widget %}
    {% apply spaceless %}
        <div {{ block('attributes') }}>
        {% if path is not empty %}
            {{ pimcore_inc(path) }}
        {% endif%}
        </div>
    {% endapply %}
{% endblock %}