includes:
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    scanFiles:
        - %currentWorkingDirectory%/vendor/pimcore/pimcore/stubs/dynamic-constants.php
    reportUnmatchedIgnoredErrors: false
    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/test/TestKernelTestDebugContainer.xml
        constantHassers: false