<?xml version="1.0"?>
<zend-config>
    <plugin>
        <pluginName>Formbuilder</pluginName>
        <pluginDescription>Build Forms quickly and easily</pluginDescription>
        <pluginNiceName>Zend Form Builder</pluginNiceName>
        <pluginIcon>/plugins/Formbuilder/static/img/logo_formbuilder.png</pluginIcon>
        <pluginVersion>1.4.1</pluginVersion>
        <pluginRevision>1</pluginRevision>
        <pluginBuildTimestamp>1459355459</pluginBuildTimestamp>
        <pluginClassName>\Formbuilder\Plugin</pluginClassName>
        <pluginIncludePaths>
            <path>/Formbuilder/lib</path>
        </pluginIncludePaths>
        <pluginNamespaces>
            <namespace>Formbuilder</namespace>
            <namespace>Twitter</namespace>
        </pluginNamespaces>
        <pluginJsPaths-extjs6>
            <path>/plugins/Formbuilder/static/js/plugin.js</path>
            <path>/plugins/Formbuilder/static/js/settings.js</path>
            <path>/plugins/Formbuilder/static/js/apiwindow.js</path>
            <path>/plugins/Formbuilder/static/js/comp/importer.js</path>
            <path>/plugins/Formbuilder/static/js/comp/elem.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/base.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/container.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/displayGroup.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/button.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/captcha.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/checkbox.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/file.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/hash.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/hidden.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/multiCheckbox.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/multiselect.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/password.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/radio.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/reset.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/select.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/submit.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/image.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/country.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/download.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/text.js</path>
            <path>/plugins/Formbuilder/static/js/comp/type/textarea.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/base.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/alnum.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/alpha.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/baseName.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/boolean.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/callback.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/digits.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/dir.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/htmlEntities.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/int.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/pregReplace.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/stringToLower.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/stringToUpper.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/stringTrim.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/stripNewlines.js</path>
            <path>/plugins/Formbuilder/static/js/comp/filter/stripTags.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/base.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/alnum.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/alpha.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/between.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/callback.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/creditCard.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/date.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/digits.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/emailAddress.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/extension.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/float.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/greaterThan.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/hex.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/hostname.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/iban.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/identical.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/inArray.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/int.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/ip.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/isbn.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/lessThan.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/postCode.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/regex.js</path>
            <path>/plugins/Formbuilder/static/js/comp/validator/stringLength.js</path>
        </pluginJsPaths-extjs6>
        <pluginCssPaths-extjs6>
            <path>/plugins/Formbuilder/static/css/admin.css</path>
        </pluginCssPaths-extjs6>
        <pluginDocumentEditmodeJsPaths>
            <path>/Formbuilder/static/js/admin/area.js</path>
        </pluginDocumentEditmodeJsPaths>
        <pluginDocumentEditmodeCssPaths>
            <path>/Formbuilder/static/css/admin-editmode.css</path>
        </pluginDocumentEditmodeCssPaths>
    </plugin>
</zend-config>
