{% extends 'form_div_layout.html.twig' %}

{% use '@FormBuilder/Form/Theme/Type/dynamic_multi_file.html.twig' %}

{% block form_row -%}
    <div class="{{ attr['data-template'] is defined ? attr['data-template'] : '' }}">
        {{ parent() }}
    </div>
{%- endblock form_row %}

{% block button_row -%}
    <div class="{{ attr['data-template'] is defined ? attr['data-template'] : '' }}">
        {{ parent() }}
    </div>
{%- endblock button_row %}