<table>
{% for field in fields|default([]) %}
    {% set value = field.value %}

    {% if value is iterable %}
        {% set value = value|join(', ') %}
    {% endif %}

    {% if value is not empty %}
        <tr>
            <td width="50%" valign="top"><strong>{{ field.email_label|default(field.label)|raw }}:</strong></td>
            <td width="50%" valign="top">{{ value }}</td>
        </tr>
    {% endif %}
{% endfor %}
</table>