.formbuilder-placeholder-body {
    background: #F9F9F9;
    padding: 20px;
    border: 2px dashed #DADADA;
    text-align: center;
    color: #A9A9A9;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    text-transform: uppercase;
}

.formbuilder-error-message {
    color: #721c24;
    background-color: #f8d7da;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: block;
}

.x-window .preview-field {
    background: #eaeaea;
    border: 1px solid #d8d8d8;
    padding: 10px;
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    text-align: left;
}

.pimcore_area_form .pimcore_area_edit_button {
    top: -32px !important;
}

.formbuilder-alert-info {
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    background-color: #dcd1ea;
    color: #6428b4;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid #6428b4;
    border-radius: 0;
    font-size: 90%;
    width: 100%;
}

.formbuilder-alert-danger {
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    background-color: #f2dede;
    color: #a94442;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid #a94442;
    border-radius: 0;
    font-size: 90%;
    width: 100%;
}