.form-builder-form-elements-tree .tree_node_error {
    background: url(/bundles/formbuilder/img/danger.svg) right center no-repeat !important;
    background-size: 10% 80% !important;
}

.form_builder_icon_root {
    background: url(/bundles/formbuilder/img/application_form.svg) left center no-repeat !important;
}

.form_builder_icon_fbuilder {
    background: url(/bundles/formbuilder/img/formBuilder.svg) left center no-repeat !important;
}

.pimcore_icon_api {
    background: url(/bundles/formbuilder/img/help.svg) left center no-repeat !important;
}

.form_builder_icon_container {
    background: url(/bundles/formbuilder/img/container.svg) left center no-repeat !important;
}

.form_builder_icon_container_add {
    background: url(/bundles/formbuilder/img/container_add.svg) left center no-repeat !important;
}

.form_builder_icon_container_type {
    background: url(/bundles/formbuilder/img/stack.svg) left center no-repeat !important;
}

.form_builder_icon_container_type_add {
    background: url(/bundles/formbuilder/img/stack_add.svg) left center no-repeat !important;
}

.form_builder_icon_validation {
    background: url(/bundles/formbuilder/img/filter.svg) left center no-repeat !important;
}

.form_builder_icon_validation_add {
    background: url(/bundles/formbuilder/img/filter_add.svg) left center no-repeat !important;
}

.form_builder_icon_item_add {
    background: url(/bundles/formbuilder/img/elem_add.svg) left center no-repeat !important;
}

.form_builder_icon_root_add {
    background: url(/bundles/formbuilder/img/application_form_add.svg) left center no-repeat !important;
}

.pimcore_icon_mail_editor {
    background: url(/bundles/formbuilder/img/mail_editor.svg) left center no-repeat !important;
}

.form_builder_icon_form_configuration {
    background: url(/bundles/formbuilder/img/form_configuration.svg) left center no-repeat !important;
}

.pimcore_icon_output_workflow {
    background: url(/bundles/formbuilder/img/output_workflow.svg) left center no-repeat !important;
}

.pimcore_icon_output_workflow_add {
    background: url(/bundles/formbuilder/img/output_workflow_add.svg) left center no-repeat !important;
}

.pimcore_icon_output_workflow_channel {
    background: url(/bundles/formbuilder/img/output_workflow_channel.svg) left center no-repeat !important;
}

.pimcore_icon_output_workflow_channel_add {
    background: url(/bundles/formbuilder/img/output_workflow_channel_add.svg) left center no-repeat !important;
}

/*
    Fields
*/
.form_builder_icon_text {
    background: url(/bundles/formbuilder/img/textfield.svg) left center no-repeat !important;
}

.form_builder_icon_date {
    background: url(/bundles/formbuilder/img/date.svg) left center no-repeat !important;
}

.form_builder_icon_date_time {
    background: url(/bundles/formbuilder/img/date_time.svg) left center no-repeat !important;
}

.form_builder_icon_time {
    background: url(/bundles/formbuilder/img/time.svg) left center no-repeat !important;
}

.form_builder_icon_birthday {
    background: url(/bundles/formbuilder/img/birthday.svg) left center no-repeat !important;
}

.form_builder_icon_integer {
    background: url(/bundles/formbuilder/img/textfield.svg) left center no-repeat !important;
}

.form_builder_icon_button {
    background: url(/bundles/formbuilder/img/button.svg) left center no-repeat !important;
}

.form_builder_icon_captcha {
    background: url(/bundles/formbuilder/img/captcha.svg) left center no-repeat !important;
}

.form_builder_icon_checkbox {
    background: url(/bundles/formbuilder/img/checkbox.svg) left center no-repeat !important;
}

.form_builder_icon_file {
    background: url(/bundles/formbuilder/img/file.svg) left center no-repeat !important;
}

.form_builder_icon_hidden {
    background: url(/bundles/formbuilder/img/hidden.svg) left center no-repeat !important;
}

.form_builder_icon_image {
    background: url(/bundles/formbuilder/img/picture.svg) left center no-repeat !important;
}

.form_builder_icon_download {
    background: url(/bundles/formbuilder/img/download.svg) left center no-repeat !important;
}

.form_builder_icon_multi_checkbox {
    background: url(/bundles/formbuilder/img/multicheckbox.svg) left center no-repeat !important;
}

.form_builder_icon_multi_select {
    background: url(/bundles/formbuilder/img/multicheckbox.svg) left center no-repeat !important;
}

.form_builder_icon_dynamic_multi_select {
    background: url(/bundles/formbuilder/img/dynamic_multicheck.svg) left center no-repeat !important;
}

.form_builder_icon_password {
    background: url(/bundles/formbuilder/img/password.svg) left center no-repeat !important;
}

.form_builder_icon_radio {
    background: url(/bundles/formbuilder/img/radio.svg) left center no-repeat !important;
}

.form_builder_icon_reset {
    background: url(/bundles/formbuilder/img/reset.svg) left center no-repeat !important;
}

.form_builder_icon_select {
    background: url(/bundles/formbuilder/img/select.svg) left center no-repeat !important;
}

.form_builder_icon_country {
    background: url(/bundles/formbuilder/img/globe.svg) left center no-repeat !important;
}

.form_builder_icon_submit {
    background: url(/bundles/formbuilder/img/submit.svg) left center no-repeat !important;
}

.form_builder_icon_textarea {
    background: url(/bundles/formbuilder/img/textarea.svg) left center no-repeat !important;
}

.form_builder_icon_notice {
    background: url(/bundles/formbuilder/img/notice.svg) left center no-repeat !important;
}

.form_builder_icon_html_tag {
    background: url(/bundles/formbuilder/img/html.svg) left center no-repeat !important;
}

.form_builder_icon_snippet_tag {
    background: url(/bundles/formbuilder/img/snippet.svg) left center no-repeat !important;
}

.form_builder_icon_recaptcha_v3 {
    background: url(/bundles/formbuilder/img/recaptcha_v3.svg) left center no-repeat !important;
}

/*
    Conditional Logic
*/
.form_builder_cl_toggle_element {
    background: url(/bundles/formbuilder/img/cl_toggle_element.svg) left center no-repeat !important;
}

.form_builder_cl_constraints_add {
    background: url(/bundles/formbuilder/img/cl_constraints_add.svg) left center no-repeat !important;
}

.form_builder_cl_constraints_remove {
    background: url(/bundles/formbuilder/img/cl_constraints_remove.svg) left center no-repeat !important;
}

.form_builder_cl_change_value {
    background: url(/bundles/formbuilder/img/cl_change_value.svg) left center no-repeat !important;
}

.form_builder_cl_trigger_event {
    background: url(/bundles/formbuilder/img/cl_trigger_event.svg) left center no-repeat !important;
}

.form_builder_cl_toggle_class {
    background: url(/bundles/formbuilder/img/cl_toggle_class.svg) left center no-repeat !important;
}

.form_builder_cl_element_value {
    background: url(/bundles/formbuilder/img/cl_element_value.svg) left center no-repeat !important;
}

.form_builder_cl_output_workflow {
    background: url(/bundles/formbuilder/img/cl_output_workflow.svg) left center no-repeat !important;
}

.form_builder_cl_toggle_availability {
    background: url(/bundles/formbuilder/img/cl_toggle_availability.svg) left center no-repeat !important;
}

.form_builder_cl_mail_behaviour {
    background: url(/bundles/formbuilder/img/cl_mail_behaviour.svg) left center no-repeat !important;
}

.form_builder_cl_success_message {
    background: url(/bundles/formbuilder/img/cl_success_message.svg) left center no-repeat !important;
}

/*
    Output Workflow
*/

.form_builder_output_workflow_channel_api {
    background: url(/bundles/formbuilder/img/ow_channel_api.svg) left center no-repeat !important;
}

.form_builder_output_workflow_channel_api_mapper {
    background: url(/bundles/formbuilder/img/ow_channel_api_mapper.svg) left center no-repeat !important;
}

.form_builder_output_workflow_channel_email {
    background: url(/bundles/formbuilder/img/ow_channel_email.svg) left center no-repeat !important;
}

.form_builder_output_workflow_channel_object {
    background: url(/bundles/formbuilder/img/ow_channel_object.svg) left center no-repeat !important;
}

.form_builder_output_workflow_channel_object_mapper {
    background: url(/bundles/formbuilder/img/ow_channel_object.svg) left center no-repeat !important;
}

.form_builder_output_workflow_apply_data {
    background: url(/bundles/formbuilder/img/ow_apply_data.svg) left center no-repeat !important;
}

.form_builder_output_workflow_aware_form_item {
    background: url(/bundles/formbuilder/img/lock.svg) right center no-repeat !important;
    background-size: 10% 80% !important;
}


/*
    Mail Editor
*/

.formbuilder-mail-editor {

}

.formbuilder-mail-editor .mail-editor-selection {
    padding: 20px;
}

.formbuilder-mail-editor .mail-editor-selection h4 {
    padding: 0;
    margin: 0;
}

.formbuilder-mail-editor  .mail-editor-selection ul {
    list-style: none;
    padding: 0;
}

.formbuilder-mail-editor .mail-editor-selection ul li {
    line-height: 1.8;
    cursor: pointer;
    list-style: none;
    background: #eaeaea;
    border-radius: 4px;
    margin: 0 0 2px 0;
    padding: 2px 5px;
}

.formbuilder-mail-editor .mail-editor-selection ul li span.tag {
    text-align:right;
    float: right;
    font-size: 11px;
    color: #717171;
}

/*
    Object Mapping Editor
*/

.formbuilder-object-editor-disabled .x-tree-node-text {
    color: #8e8e8e !important;
}

.formbuilder-object-editor-grid-ok {
    background: url(/bundles/formbuilder/img/grid_ok.svg) left center no-repeat !important;
}

.formbuilder-object-editor-grid-ok-edit {
    background: url(/bundles/formbuilder/img/grid_ok_edit.svg) left center no-repeat !important;
}

.formbuilder-object-editor-grid-attention {
    background: url(/bundles/formbuilder/img/grid_attention.svg) left center no-repeat !important;
}

.formbuilder-object-editor-grid-unavailable {
    background: url(/bundles/formbuilder/img/grid_unavailable.svg) left center no-repeat !important;
}
/*
    Pimcore 6
*/

body.pimcore_version_6 .form_builder_icon_fbuilder {
    background: url(/bundles/formbuilder/img/p6/formBuilder.svg) left center no-repeat !important;
}