.formbuilder-placeholder-body {

    background: #F9F9F9;
    padding: 20px;
    border: 2px dashed #DADADA;
    text-align: center;
    color: #A9A9A9;
    font-size: 12px;
    font-family: Arial , Tahoma, Verdana, sans-serif;
    text-transform: uppercase;
}

/* Form Edit Window */
.x-window .form-config-window {
    padding:0;
}

.x-window .form-config-window .preview-fields {

    background:#eaeaea;
    border:1px solid #d8d8d8;
    padding:10px;
    display:none;
}

.x-window .form-config-window .preview-fields h5 {

    font-family: Arial , Tahoma, Verdana, sans-serif;
    font-size:15px;
    font-weight:bold;

 }

.x-window .form-config-window .preview-fields .preview-field {
    display:none;
}

.x-window .form-config-window .preview-fields .preview-field .description {

    display:block;
    margin:10px 0 20px 0;
    padding:10px;
    font-size:12px;
    line-height:14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    text-align: left;

    background:#fff;
    border:1px solid #d8d8d8;

}

.x-window .form-config-window .clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}