.Formbuilder_icon_button{
    background: url(/plugins/Formbuilder/static/img/button.svg) left center no-repeat !important;
}

.Formbuilder_icon_captcha{
    background: url(/plugins/Formbuilder/static/img/captcha.svg) left center no-repeat !important;
}

.Formbuilder_icon_checkbox{
    background: url(/plugins/Formbuilder/static/img/checkbox.svg) left center no-repeat !important;
}

.Formbuilder_icon_file{
    background: url(/plugins/Formbuilder/static/img/file.svg) left center no-repeat !important;
}

.Formbuilder_icon_hash{
    background: url(/plugins/Formbuilder/static/img/hash.svg) left center no-repeat !important;
}

.Formbuilder_icon_hidden{
    background: url(/plugins/Formbuilder/static/img/hidden.svg) left center no-repeat !important;
}

.Formbuilder_icon_image{
    background: url(/plugins/Formbuilder/static/img/picture.svg) left center no-repeat !important;
}

.Formbuilder_icon_download{
    background: url(/plugins/Formbuilder/static/img/download.svg) left center no-repeat !important;
}

.Formbuilder_icon_multiCheckbox{
    background: url(/plugins/Formbuilder/static/img/multicheckbox.svg) left center no-repeat !important;
}

.Formbuilder_icon_multiselect{
    background: url(/plugins/Formbuilder/static/img/multicheckbox.svg) left center no-repeat !important;
}

.Formbuilder_icon_password{
    background: url(/plugins/Formbuilder/static/img/password.svg) left center no-repeat !important;
}

.Formbuilder_icon_radio{
    background: url(/plugins/Formbuilder/static/img/radio.svg) left center no-repeat !important;
}

.Formbuilder_icon_reset{
    background: url(/plugins/Formbuilder/static/img/reset.svg) left center no-repeat !important;
}

.Formbuilder_icon_select{
    background: url(/plugins/Formbuilder/static/img/select.svg) left center no-repeat !important;
}

.Formbuilder_icon_submit{
    background: url(/plugins/Formbuilder/static/img/submit.svg) left center no-repeat !important;
}

.Formbuilder_icon_text{
    background: url(/plugins/Formbuilder/static/img/textfield.svg) left center no-repeat !important;
}

.Formbuilder_icon_textarea{
    background: url(/plugins/Formbuilder/static/img/textarea.svg) left center no-repeat !important;
}

.Formbuilder_icon_filter{
    background: url(/plugins/Formbuilder/static/img/filter.svg) left center no-repeat !important;
}

.Formbuilder_icon_validator{
    background: url(/plugins/Formbuilder/static/img/bool.svg) left center no-repeat !important;
}

.Formbuilder_icon_root{
    background: url(/plugins/Formbuilder/static/img/application_form.svg) left center no-repeat !important;
}

.Formbuilder_icon_fbuilder{
    background: url(/plugins/Formbuilder/static/img/formBuilder.svg) left center no-repeat !important;
}

.Formbuilder_icon_filter_add{
    background: url(/plugins/Formbuilder/static/img/filter_add.svg) left center no-repeat !important;
}

.Formbuilder_icon_validator_add{
    background: url(/plugins/Formbuilder/static/img/bool_add.svg) left center no-repeat !important;
}

.Formbuilder_icon_item_add{
    background: url(/plugins/Formbuilder/static/img/elem_add.svg) left center no-repeat !important;
}

.Formbuilder_icon_root_add{
    background: url(/plugins/Formbuilder/static/img/application_form_add.svg) left center no-repeat !important;
}

.Formbuilder_icon_displayGroup{
    background: url(/plugins/Formbuilder/static/img/fieldset.svg) left center no-repeat !important;
}

.Formbuilder_icon_displayGroup_add{
    background: url(/plugins/Formbuilder/static/img/fieldset_add.svg) left center no-repeat !important;
}

.pimcore_icon_api{
    background: url(/plugins/Formbuilder/static/img/help.svg) left center no-repeat !important;
}

.pimcore_area_entry .pimcore_area_edit_button,
.pimcore_tag_area .pimcore_area_edit_button {
    z-index:99;
}