{% block form_builder_form_message %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label ? 'error' ? 'danger' : 'success' }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

{% endblock form_builder_form_message %}
