<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page for FormBuilder for Dynamic Multi File with enabled Javascript</title>
</head>
<body>
<div id="site">
    {% block content %}
        {{ pimcore_areablock('bundleTestArea') }}
    {% endblock %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="https://rawcdn.githack.com/dachcom-digital/jquery-pimcore-formbuilder/v1.0.0/dist/jquery.fb.core.js"></script>
<script type="text/javascript" src="https://rawcdn.githack.com/dachcom-digital/jquery-pimcore-formbuilder/v1.0.0/dist/jquery.fb.ext.repeater.js"></script>
<script type="text/javascript" src="http://yourjavascript.com/011911157125/dependson-min.js"></script>
<script>
    $(function () {
        var $ajaxForms = $('form.formbuilder.ajax-form');

        $ajaxForms.formBuilderAjaxManager({
            setupFileUpload: true,
            dynamicMultiFileHandlerOptions: {{ options|json_encode|raw }}
        });

        $ajaxForms.on('formbuilder.success', function (ev, message, redirect, $form) {
            var $el, messageData;
            ev.preventDefault();
            messageData = redirect ? 'redirect to: ' + redirect : message[0]['message'];
            $el = $('<div/>', {'class': 'form-success-wrapper', 'html': messageData});
            $el.insertBefore($(this));
            $(this).remove();
        }).on('formbuilder.error', function (ev, messages, $form) {
            var alertMessages = [];
            $.each(messages, function (i, m) {
                alertMessages.push(m.message);
            });
            var $el = $('<div/>', {'class': 'alert alert-danger', 'html': alertMessages.join(', ')});
            $form.prepend($el);
        }).on('formbuilder.error-field', function (ev, data) {
            data.field.prev().addClass('init');
        }).on('formbuilder.fatal', function (ev, response, $form) {
            var $el = $('<div/>', {'class': 'alert alert-danger', 'html': response.error + '<br><code>' + response.trace + '</code>'});
            $form.prepend($el);
        });
    });
</script>
</body>
</html>
