<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>Funnel</title>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, follow"/>
</head>
<body>
{% block funnel_content %}
    {# funnel content will be placed here #}
{% endblock funnel_content %}
</body>
</html>
