services:

    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    FormBuilderBundle\Repository\FormRepositoryInterface: '@FormBuilderBundle\Repository\FormRepository'
    FormBuilderBundle\Repository\FormRepository: ~