{% if formTheme is not null %}
    {% form_theme form with [formTheme ~ '.html.twig'] only %}
{% endif %}

{% block funnel_content %}

    <h1>Simple Layout Layer</h1>

    {% if layout is not null %}
        {{ pimcore_inc(layout) }}
    {% endif %}

    {% if funnelActions.hasByName('button1') %}

    {% endif %}

{% endblock funnel_content %}