name: Codeception
on:
    push:
        branches: [ 'master' ]
    pull_request:
        branches: [ 'master' ]

jobs:
    codeception:
        runs-on: ubuntu-latest
        env:
            TEST_BUNDLE_NAME: "FormBuilderBundle"
            TEST_BUNDLE_INSTALLER_CLASS: "FormBuilderBundle\\Tool\\Install"
            TEST_BUNDLE_TEST_DIR: "${{ github.workspace }}/lib/test-bundle/tests"
            TEST_PROJECT_ROOT_DIR: "${{ github.workspace }}"

            PIMCORE_CODECEPTION_FRAMEWORK: "${{ github.workspace }}/pimcore-codeception-framework"
            PIMCORE_CODECEPTION_VERSION: "3.0"

            APP_ENV: test
            PIMCORE_TEST_DB_DSN: "mysql://test:test@127.0.0.1:3306/dachcom_bundle_test"
            PIMCORE_TEST_URL: "http://localhost"
            PIMCORE_CLASS_DIRECTORY: "${{ github.workspace }}/lib/test-bundle/tests/_output/var/classes"

            SYMFONY_DEPRECATIONS_HELPER: "weak"
            PIMCORE_PHP_ERROR_REPORTING: 32767

            WEBDRIVER_HOST: localhost
            WEBDRIVER_URL: "http://localhost:8080/"

        services:
            mysql:
                image: mysql:8.0
                env:
                    MYSQL_ROOT_PASSWORD: root
                ports:
                    - 3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
        strategy:
            matrix:
                php: [ 8.2 ]
                symfony: [ ^6.2 ]
                pimcore: [ ~11.2.0 ]
                include:
                    -   pimcore: ~11.2.0
                        template_tag: v11.0.0
        steps:
            -   uses: nanasess/setup-chromedriver@v2
            -   uses: actions/checkout@v4
                with:
                    path: lib/test-bundle

            -   name: Generate Application Structure
                run: |
                    git clone -b ${{ matrix.template_tag }} --single-branch --depth 1 https://github.com/pimcore/skeleton.git
                    mv skeleton/composer.json .
                    mv skeleton/bin .
                    mv skeleton/config .
                    mv skeleton/public .
                    mv skeleton/src .
                    mv skeleton/templates .
                    mv skeleton/var .
                    rm -r skeleton

            -   name: Setup Pimcore Codeception Framework
                env:
                    MATRIX_PIMCORE_VERSION: ${{ matrix.pimcore }}
                    MATRIX_PIMCORE_TEMPLATE_TAG: ${{ matrix.template_tag }}
                run: |
                    git clone -b ${{ env.PIMCORE_CODECEPTION_VERSION }} --single-branch --depth 1 https://github.com/dachcom-digital/pimcore-codeception-framework.git
                    ls -al pimcore-codeception-framework
                    chmod +x ./pimcore-codeception-framework/src/_etc/scripts/setup.sh
                    ./pimcore-codeception-framework/src/_etc/scripts/setup.sh

            -   name: Install PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: intl
                    coverage: none

            -   name: Check PHP Version
                run: php -v

            -   name: Setup MySql
                uses: shogo82148/actions-setup-mysql@v1
                with:
                    mysql-version: '8.0'
                    user: test
                    password: test
                    root-password: root
                    auto-start: true
                    my-cnf: |
                        max_allowed_packet=32505856
                        max_connections=1000

            -   name: Initial Database
                run: mysql -utest -ptest -h127.0.0.1 -e 'CREATE DATABASE dachcom_bundle_test CHARSET=utf8mb4;'

            -   name: Setup Chromium
                run: |
                    export DISPLAY=:99
                    chromedriver --url-base=/wd/hub --port=9515 &
                    sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &

            -   name: Start Symfony Server
                run: |
                    curl -sS https://get.symfony.com/cli/installer | bash -s -- --install-dir=$HOME/.symfony/bin
                    ~/.symfony/bin/symfony server:start --port=8080 --dir=public --allow-http --no-tls --daemon

            -   name: Get Composer Cache Directory
                id: composer-cache
                run: |
                    echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

            -   name: Cache Composer Downloads
                uses: actions/cache@v4
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                    restore-keys: |
                        ${{ runner.os }}-composer-

            -   name: Composer install
                env:
                    TEST_PIMCORE_VERSION: ${{ matrix.pimcore }}
                    TEST_SYMFONY_VERSION: ${{ matrix.symfony }}
                run: |
                    chmod +x ./pimcore-codeception-framework/src/_etc/scripts/composer.sh
                    ./pimcore-codeception-framework/src/_etc/scripts/composer.sh

            -   name: Assets Install
                run: |
                    bin/console assets:install public --relative --symlink

            -   name: Tests
                run: |
                    bin/console cache:warmup --env=test
                    vendor/bin/codecept run --env github -c ${{ github.workspace }}/lib/test-bundle

            -   name: Log Output
                uses: actions/upload-artifact@v4
                if: failure()
                with:
                    name: "Logs (PHP ${{ matrix.php }}, Pimcore ${{ matrix.pimcore }}, Symfony ${{ matrix.symfony }})"
                    path: ${{ github.workspace }}/lib/test-bundle/tests/_output/
                    if-no-files-found: ignore
